.contentbox{
    display: flex;
    width: 99vw;
    height: 65vh;
   /* border-style: solid;*/
   /* border-color: red;*/
}

.sidebox{
    width: 25vw;
    height: 65vh;
   /* border-style: solid;*/
    /*border-color: blue;*/
}

.midbox{
    display: block;
    width: 50vw;
    height: 65vh;
    /*border-style: solid;*/
   /* border-color: green;*/
}

.formbox{
    width: 100%;
    height: 60%;
    border-style: solid;
    background-color: rgba(176,176,176, 0.8);
    border-radius: 10px;
   /* height:auto;*/
}

.bottombox{
    width: 70%;
    height: 20%;
    margin-left: 15% ;
   /* border-style: solid;*/
    background-color: #151443;
    box-shadow: 5px 5px 5px #909196;
}

.row1{
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 7vh;
}

.row2{
    height: 15%;
    width: 100%;
    text-align: center;
    font-size: 4vh;
}

.row3{
    height: 15%;
    width: 100%;
    text-align: center;
}

.row4{
    height: 15%;
    width: 100%;
    text-align: center;
    font-size: 4vh;
    padding-top: 2%;
}

.row5{
    height: 15%;
    width: 100%;
    text-align: center;
}

.logButton{
    font-size: 4vh;
    background-color: #151443;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.inputbox{
    width: 80%;
    height: 100%;
    color: black;
    font-size: 200%;
    text-align: center;
}

.row21{
    height: 30%;
    text-align: center;
    font-size: 3vmin;
}

.row22{
    height: 70%;
}

.starimg{
    margin: 0 auto;
    background-color: #151443;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: 3vw;
    color: white;
    cursor: pointer;
}

.arrow{
    font-size: 10vw;
    text-align: right;
    position: absolute;
    bottom: 4.8vh;
    right: 1.05vw;
    cursor: pointer;
}

.leftarrow{
    margin-left: 10%;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: 3vw;
    color: black;
    border-radius: 8px;
    text-size-adjust: 80%;
    background-color: rgba(176,176,176, 0.8);
    cursor: pointer;
}

@media (max-width: 480px) {
    
    .starimg{
        font-size: 10.9vmin;
    }

    .logButton{
        font-size: 10vmin;
    }
}