.playlistMenu{
    height: 70vh;
    width: 100%;
    display: flex;
}

.leftbox{
    width: 20vw;
    height: 70vh;
  /*  border-style: solid;
    border-color: blue;*/
}


.middlebox{
    width: 65vw;
    height: 70vh;
    /*border-style: solid;
    border-color: blue;*/
}

.rightbox{
    width: 15vw;
    height: 70vh;
   /* border-style: solid;
    border-color: blue;*/
}

.toprow{
    width: 100%;
    height: 10%;
  /*  border-style: solid;
    border-color: red;*/
    display: flex;
}

.save{
    background-color: #151443; 
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: 3vmax;
    border-radius: 8px;
    text-size-adjust: 80%;
    cursor: pointer;
}

.savecontainer{
    margin-left: auto; 
    margin-right: 0;
    position: relative;
    right: 0;
}

.spacing{
    width: 10%;
    margin-right: 0;
   /* border-style: solid;
    border-color: yellow;*/
}
.titleText{
    background: transparent;
    border: none;
    outline: none;
    display: inline-block;
    font-size: 3vmax;
}
.titleText::placeholder{
    font-size: 3vmax;
    color: white;
}

.button{
    background: transparent;
    border: none;
    outline: none;
    display: inline-block;
    font-size: 3vmax;
}

.input{
    color: black;
}

.saveName{
    background-color: #151443;
}

table.playlisttable{
    margin-top: 5px;
    width: 100%;
    background-color: rgba(176,176,176, 0.8);
    /*border-style: solid;*/
    border-radius: 10px;
    border-collapse: collapse;
    padding-bottom: 10px;
}

table.playlisttable td {
    vertical-align: middle;
    color: black;
    font-weight: bold;
    font-size: 1.8vmax;
  }

table.playlisttable tr{
    border-bottom: 1pt solid black;
}

.pencil{
    background: none;
    border: 0;
    font-size: 2vmax;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

@media (max-width: 480px) {
    .playlistMenu{
        height: 70vh;
        width: 100%;
        display: block;
        /*    border-style: solid;*/
    }

    .leftbox{
        width: 100%;
        height: 100px;
      /*  border-style: solid;
        border-color: blue;*/
    }

    .buttonBack{
        width: 90%;
        height: 100px;
        font-size: 30vmin;
        margin-left: 5%;
    }
    
    .middlebox{
        width: 100%;
        /*height: 70vh;*/
        height: auto;
     /*   border-style: solid;
        border-color: red;*/
    }
    
    .rightbox{
        width: 100%;
        height: 0px;
      /*  border-style: solid;
        border-color: yellow;*/
    }
    
    .toprow{
        width: 100%;
        height: 10%;
        display: flex;
        padding-top: 10px;
    }
    
    .save{
        font-size: 15vmin;
    }
    
    .spacing{
        width: 10%;
        margin-right: 0;
      /*  border-style: solid;
        border-color: rgb(255, 153, 0);*/
    }

    .titletext{
        width: 70%;
        font-size: 15vmin;
       /* border-style: solid;
        border-color: rgb(0, 195, 255);*/
    }
    
    .playlisttable{
        width: 96%;
        margin-left: 2%;
        margin-top: 10px;
    }
    
    td {
        font-size: 6vmin;
      }
    
    .pencil{
        font-size: 6vmin;
    }

}