.playButton{
    background: none;
    border: 0;
    font-size: 2vmax;
    cursor: pointer;
    color: black;
    width: 10px;
    padding-right: 23px;
}

.topr{
    width: 100%;
    height: 10%;
    display: flex;
    padding-top: 10px;
}

.titletext{
    background: transparent;
    border: none;
    outline: none;
    display: inline-block;
    font-size: 3vmax;
}

@media (max-width: 480px) {
    .playlistMenu{
        height: auto;
        margin-top: -30px;
    }

    .topr{
        margin-top: -100px;
        width: 100%;
        height: 10%;
        display: flex;
        padding-top: 10px;
    }

    .titletext{
        width: 70%;
        font-size: 15vmin;
    }

    .playlistMenu .middlebox{
        width: 95%;
        margin-left: 1%;
        margin-top: 20%;
    }

}